@keyframes load {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 0.25;
  }
}

.Skeleton {
  animation: load 2s infinite 0s linear;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows:
    2.5em 3.5em 3em 6em
    25vh;
  gap: 1em;
  filter: blur(10px);
  list-style: none;
  padding: 0;
}
.Skeleton li {
  border-radius: 10px;
}
.Skeleton > li:nth-child(1) {
  grid-row-start: 1;
  grid-column: 4/-1;
  background: var(--skeletonBgColor);
}

.Skeleton > li:nth-child(2) {
  background: var(--skeletonBgColor);
  grid-row: 2/4;
  grid-column: 1/3;
}
.Skeleton > li:nth-child(3) {
  background: var(--skeletonBgColor);
  grid-row: 2/3;
  grid-column: 5/-1;
}

.Skeleton li:nth-child(4) {
  background: var(--skeletonBgColor);
  grid-row-start: 5;
  grid-column: 1/-1;
}
.Skeleton ul {
  gap: 3em 2em;
  grid-row-start: 5;
  grid-column: 1/-1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}
.Skeleton ul li {
  background: var(--skeletonBgColor);
  height: 9em;
  width: 5em;
}
